@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --color-background:rgb(244,208,78);
    --color-card: rgb(255,255,255);
    --color-accent: rgb(244,208,78);
    --color-text-primary:rgb(17,17,17);
    --color-text-secondary: rgb(107,107,107);
}

body{
    font-family: "Figtree",sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--color-background);
    padding:1rem;
}

.card{
    background-color: var(--color-card);
    padding: 1rem;
    max-width: 80%;
    width: 400px;
    min-width: 250px;
    border: 1px solid black;
    border-radius: 12px;
    box-shadow: 6px 6px 1px 0px black;
    margin-bottom: 1rem;
}

.card-img-container{
    width: 100%;
}

.card-img{
    border-radius: 12px;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: auto;
    /* border: 2px solid blue; */
}


.card-tag{
    color:var(--color-text-primary);
    background-color: var(--color-accent);
    padding:0.5rem 0.9rem;
    display: inline-block;
    margin-block:0.5rem;
    font-weight: 800;
    border-radius: 5px;
}


.card-date{
    display: block;
    margin-bottom: 0.8rem;
}

.card-heading{
    color:var(--color-text-primary);
    font-weight: 800;
    width: 100%;
}

.card-text{
    color:var(--color-text-secondary);
    line-height: 1.5;
}

.card-author{
    color: var(--color-text-primary);
    font-weight: 900;
    width: 100%;
}


.card-body{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* border: 2px solid red; */
}

.card-footer{
    display: flex;
    align-items: center;
    gap: 12px;
}

.card-footer > img{
    width: 40px;
}

.attribution { font-size: 0.5rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media screen and (max-width: 375px) {
    :root{
        font-size: 14px;
    }
}